.budget-list {
  text-align: right;
  list-style-type: none;
  max-height: 400px;
  overflow: scroll;
}
.bar-statistic {
  height: 25px !important;
}
.wr-budget-legend {
  float: right;
}
.budget-bar > div {
  background-color: #feaa6a !important;
  color: white;
}
.template-lable {
  padding: 15px;
  float: left;
  color: rgba(128, 128, 128, 0.171);
}
.set-btn {
  border: none;
  border-bottom: 1px solid #a371e5;
  border-radius: 0;
}
.set-btn:hover {
  background-color: #a371e5;
  color: white;
}
.span-cat {
  color: #c870d84d;
  text-decoration: underline;
}
.budget-note > div {
  float: left;
  color: rgba(128, 128, 128, 0.507);
}
.budget-note > div > span {
  color: #a371e5;
  margin-right: 5px;
  font-weight: 1000;
  font-size: 18px;
}
@media screen and (max-width: 640px) {
  .budget-list > li {
    padding: 30px 0;
  }
}
