.budget-lable,
.budget-lable > div {
  background-color: rgb(231, 231, 231);
  color: white;
}
.progress {
  height: 30px;
  font-size: 15px;
}
.legend {
  height: 15px;
  width: 15px;
  margin-top: 5px;
  float: left;
}
.legend-wrap {
  float: left;
  margin: 20px 10px 0 0;
}
.text-lable {
  float: left;
}
.dashboard-statistic {
  margin-bottom: 80px;
}
.income-lable,
.income-lable > div {
  background-color: #c870d8ab !important;
  color: white;
}
.expense-lable,
.expense-lable > div {
  background-color: #fd8f679a !important;
  color: white;
}
