.budget-lable {
  background-color: rgb(231, 231, 231);
  color: white;
}
.progress {
  height: 50px;
  font-size: 15px;
}
.legend {
  height: 15px;
  width: 15px;
  margin-top: 5px;
  float: left;
}
.legend-wrap {
  float: left;
  margin-right: 10px;
}
.budget-lable > div {
  background-color: rgb(231, 231, 231);
  color: white;
}
.text-lable {
  float: left;
}
.dashboard-statistic {
  margin-bottom: 80px;
}
