.navBarLink {
  text-decoration: none;
  position: relative;
  bottom: -50%;
  color: white;
}
.flex-column {
  justify-content: center;

  background-image: linear-gradient(120deg, #f6d365 0, #fda085 100%);
  display: flex;
  flex-flow: column;
  height: 100vh;
}
.nav-item {
  text-align: center;
  height: 33%;
  vertical-align: middle;
  margin: auto 0;
}
